body{
    background: lightskyblue;
}

div{
    display: inline-block;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: justify;
    margin: auto;
    color: white;
    padding: 10px;
    background: lightslategray;
    border-radius: 10px;
    border: 2px solid;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;;
}


h1{
    text-align: center;
    padding-bottom: 10px;
}

select{
    border-radius: 5px;
    background-color: lightcyan;
    color: lightslategray;
}

option{
    border-radius: 5px;
    background-color: lightcyan;
    color: lightslategray;
}

.kapacitas{
    margin-bottom: 10px;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 15rem;
}

input[type="range"]::-webkit-slider-runnable-track {
    background: #053a5f;
    height: 0.5rem;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    margin-top: -12px;
    background-color: #5cd5eb;
    height: 2rem;
    width: 1rem;
    border-radius: 2px;
}

#sliderSzam{
    text-align: center;
}

.Xd{
    color: lightslategray;
    padding: 0;
    margin: 0;
}